package:
  name: qiime2-core
  version: {{ data['version'] or 'placehold' }}

requirements:
  build:
{#- NOTE:
add any dependency-specific override pins here
    - foo 1.2.3
#}

ignore:
  - q2-alignment
  - q2-composition
  - q2-cutadapt
  - q2-dada2
  - q2-deblur
  - q2-demux
  - q2-diversity
  - q2-diversity-lib
  - q2-emperor
  - q2-feature-classifier
  - q2-feature-table
  - q2-fragment-insertion
  - q2-gneiss
  - q2-longitudinal
  - q2-metadata
  - q2-mystery-stew
  - q2-phylogeny
  - q2-quality-control
  - q2-quality-filter
  - q2-sample-classifier
  - q2-taxa
  - q2-types
  - q2-vsearch
  - q2galaxy
  - q2templates

{%- for pkg in data['run'] %}
  {%- if ('ignore' not in data) or (data['ignore'] == none) or (pkg not in data['ignore']) %}
    - {{ pkg }} {{ '{{' }} {{ pkg.replace('-', '_') }} {{ '}}' }}
  {%- endif %}
{%- endfor %}

  run:
{%- raw %}
  {%- for package in resolved_packages('build') %}
    - {{ package.split(' ')[:2] | join(' ') }}.*
  {% endfor %}
{%- endraw %}

extra:
  qiime2:
    integration_git_head_ref: {{ env.GITHUB_HEAD_REF or 'placehold' }}
